* {
	margin: 0;
	padding: 0;
	/* background-image: url('images/basketball.png');
	background-repeat: repeat-y;
	z-index: 2; */
}

h1 {
	color: green;
	margin-bottom: 30px;
}

.image {
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.input {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.text-center {
	margin-bottom: 20px;
}

#body {
	text-align: center;
	display: inline-block;
}

.button {
	margin-top: 40px;
	text-align: center;
	display: inline-block;
}