* {
	margin: 0;
	padding: 0;
	/* background-image: url('images/basketball.png');
	background-repeat: repeat-y;
	z-index: 2; */
}

h1 {
	color: #333;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: "Futura", sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

h3 {
	color: #666;
	margin-bottom: 50px;
	font-family: "Helvetica", sans-serif;
	letter-spacing: 0.5px;
}

.image {
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.input {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.text-center {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #333;
	font-family: "Helvetica", sans-serif;
}

#body {
	text-align: center;
	display: inline-block;
}

.button {
	margin-top: 40px;
	text-align: center;
	display: inline-block;
}

.hint-text {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Futura", sans-serif;
	color: #777;
	background-color: yellow;
	border-radius: 5px;
	border: 1px #000 solid;
}

.green-text {
	color: green;
}

.red-text {
	color: red;
}
